:root{
    --ColorRojo_fondo: rgb(255, 0, 0);
    --ColorBody :rgba(252, 157, 157, 0.7);
}

/* header */

#Bloque_decorativo {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--ColorRojo_fondo);
    margin: 0;
    height: 100px;
}

#div_centrar{
    display: flex;
    justify-content: center; 
}

#img_AAAJ {
    width: 80px;
    height: 80px;
}
#barra_style{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0px;
    font-family: 'Sacramento', cursive;
}
#barra_centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
}

#barra_style li {
    margin: 50px;
    display: flex;
}

#barra_style li:last-child {
    margin-right: 0;
}
#Handball{
    font-size: 50px;
}



/*Body*/

h1{
    font-family: 'Indie Flower', cursive; 
}
body{
    background-color: var(--ColorBody);
}

.li{
    list-style-type: none;
}
.centrar_texto{
    text-align: center;
}
#img_fotos{
    margin-top: 50px;
    width: 9cm;
    height: 6cm;
    border: 2px solid black;
}

#div_centrar img{
    margin: 20px;
}
#img_cancha{
    width: 16cm;
    height: 9cm;
    border: 2px solid black;
}
#div_img_cancha{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
table {
    width: 15cm;
    background-color: #e98888;
    border-collapse: collapse;
    border: 4px solid black;
}
th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f228;
}
#horarios{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 30px;
}

/* footer */

#div_contacto{
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 100px;
    background-color: #0000003d;
}
#a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration-thickness: 3px;
}
.a{
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(20, 16, 211);
}
#div_inicio{
    margin-left: 930px;
}
#inicio{
    text-decoration-thickness: 2px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.img_YI{
    width: 20px;
    height: 20ps;
    margin: -3px;
}